@import url('https://fonts.googleapis.com/css2? family= Roboto & display=swap');

html
{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(255,252,252,1) 48%, rgba(0,212,255,1) 89%);
}